<div class="card-container">
  <ul style="list-style-type:none">
  <li class="card" *ngFor="let property of _dataService.currentProperties | sortProperties">
    <md-card *ngIf="property.filtered == false" class="group">
      <md-card-header>
        <md-card-subtitle>
          {{property.statistics.fileIds.length}} &nbsp; / &nbsp; {{_dataService.files.length}}
        </md-card-subtitle>

       <!-- <md-card-subtitle md-tooltip="{{getFiles(keyValueProperty.val)}}" tooltip-position="below">
          {{keyValueProperty.val.statistics.fileIds.length}} &nbsp; / &nbsp; {{_dataService.files.length}}
        </md-card-subtitle>-->
      </md-card-header>
      <md-card-content class="secondary">
        <div class="card-container">
          <!--<md-card class="rhs-lhs" (click)="_dataService.filterLHS(property.lhs)">-->
          <md-card class="rhs-lhs">
            <md-card-content class="secondary">
              <md-list dense>
                <md-list-item *ngFor="let variable of property.lhs">
                  <span style="color:blue" (click)="_filterService.filterForVariableName(variable.name)">{{variable.name}} </span>
                  <span> &nbsp;{{variable.inequality}}&nbsp; </span>
                  <span style="color:red" (click)="_filterService.filterForVariable(variable)"> {{variable.value}}</span>
                </md-list-item>
              </md-list>
            </md-card-content>
          </md-card>

          <md-card class="rhs-lhs">
            <md-card-content class="secondary">
              <md-list dense>
                <md-list-item *ngFor="let variable of property.rhs">
                  <span style="color:blue" (click)="_filterService.filterForVariableName(variable.name)">{{variable.name}} </span>
                  <span> &nbsp;{{variable.inequality}}&nbsp; </span>
                  <span style="color:red" (click)="_filterService.filterForVariable(variable)"> {{variable.value}}</span>
                </md-list-item>
              </md-list>
            </md-card-content>
          </md-card>
        </div>
      </md-card-content>
      <!--<md-card-actions align="left">
      <button md-button (click)="_dataService.filterLHS(property.lhs)" color="primary">Filter LHS</button>
      <button md-button (click)="_dataService.filterRHS(property.rhs)" color="primary">Filter RHS</button>
    </md-card-actions>-->
    </md-card>
  </li>
  </ul>
</div>
