[md-fab] {
  position: fixed;
  left: 700px;
  top: 2%;
  z-index: 1;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

.md-ripple-color{
  color: rgba(0,0,0,0.54);
}

md-input {
  margin: 8px 0;
  width: 100%;
}

md-card {
  width: fit-content;
  box-sizing: content-box;
  margin: 4px;
  padding: 4px;
  background-color: darkgrey;
}

md-card.rhs-lhs {
  width: fit-content;
  box-sizing: content-box;
  background: lightgray;;
  margin: 4px;
}

md-card-header {
  margin: -4px 0 4px 0;
  height: 10px;
}

md-card-subtitle {
  margin-bottom: 8px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

span {
  font-size: 15pt;
}
